{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
    <style type="text/css">
        body { background: #ffffff; }
        .form-container { margin: 160px auto 0; width: 280px; background: #ffffff;}
        input#user_name.form-control { font-size: 16px; color: #25b864; font-weight: bold; height: 43px; border: none; border-bottom: 1px solid #dddddd; }
        input#user_name.form-control:focus { border: none; outline: none; box-shadow: none; border-bottom: 1px solid #dddddd; }
        .btn-primary-x { margin-top: 20px; padding: 10px 0; font-size: 16px; width: 280px; border-radius: 24px; }

        @media only screen and (max-width: 750px) {
            .form-container { margin: 120px auto 0; }
        }
    </style>
{% endblock %}


{% block page_content %}

    <div class="form-container">
        {{ wtf.quick_form(form) }}
    </div>

{% endblock %}
