{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
    <style type="text/css">
        body { background: #ffffff; }
        .form-container { margin: 160px auto 0; width: 280px;}
        input#password.form-control { font-size: 16px; height: 43px; border: none; border-bottom: 1px solid #dddddd; }
        input#password.form-control:focus { border: none; outline: none; box-shadow: none; border-bottom: 1px solid #dddddd; }
        div.checkbox { line-height: 24px; float: left; }
        .btn-primary-x { margin-top: 15px; margin-bottom: 10px; padding: 10px 0; font-size: 16px; width: 280px; border-radius: 24px; }

        @media only screen and (max-width: 750px) {
            .form-container { margin: 80px auto 0; }
        }
    </style>
{% endblock %}


{% block page_content %}

    <div class="form-container">

        <p style="margin-bottom: -5px; font-size: 16px; color: #25b864; font-weight: bold; text-align: left; padding-left: 10px; line-height: 56px; border-bottom: 1px solid #dddddd;">{{ user_name }}</p>

        {{ wtf.quick_form(form) }}

        <a style="color: #333333; margin-top: 12px; float: right;" href="{{ url_for('admin.reset') }}">{{ _('Forgot password?') }}</a>

    </div>

{% endblock %}