{% extends "base.html" %}


{% block title %}
    {{ title }} | {{ _('About') }} {{ user.user_name }}
{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .block-container { padding: 25px 30px 15px 30px; margin-top: 10px; background-color: #ffffff; line-height: 24px; }
        @media only screen and (max-width: 750px) {
            .block-container { padding: 20px 15px; }
        }

    </style>
{% endblock %}


{% block page_content %}
    <div>

        <div class="nav-banner">
            <a class="pull-left pull-left-chevron" onclick="window.history.back()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
            <span>{{ _('About') }}</span> <span class="bold">{{ user.user_name }}</span>
        </div>

        <div class="block-container">
            {% if not user_profile.photo %}
                <p><img src="{{ url_for('static', filename='image/photo/default.jpg') }}"></p>
            {% else %}
                {% set photo = 'image/photo/' + user_profile.photo %}
                <p><img src="{{ url_for('static', filename=photo) }}"></p>
            {% endif %}

            {% if not user_profile.introduction %}
                <p style="margin: 0 0 5px; color: #666666; padding-top: 5px;">{{ _('Who I am...') }}</p>
            {% else %}
                <p style="margin: 0 0 5px; color: #666666; padding-top: 5px;">{{ user_profile.introduction }}</p>
            {% endif %}

        </div>

    </div>

{% endblock %}